/*colors and fonts*/ 

body 	{
	background-color: #9fc5c9;
	color: rgb(50, 50, 50); 
	font-family: helvetica;
	font-size: 16px;
	font-weight: lighter;
}

h1, h2, h3 	{
	font-family: courier;
}
h1 		{
	color: Red;
	font-size: 30px;
}	
h2		{	
	color: rgb(100, 100, 100);	
	font-size: 24px;	
	font-weight: lighter;
	font-weight: 300;
}
a{text-decoration: none;
color: #a56f6f;
font-weight: bolder;
}
a:hover{
	color: yellow;
}



div {
background: white;
border: 2px solid black;
margin: 10px;
} 


/*Custom design with class*/ 

.container {
width: 700px;
margin: 40px auto;
}

@media (max-width: 760px){
	.container{
		width: 600px;
	}
}



@media (max-width : 500px) {

.container{
	width: 400px;
}






}


.card-white {
	background-color: white;
	padding: 40px;
	box-shadow: 0px 10px 30px rgba (0,0,0,0,1);
	border-radius: 4px;
	margin:20px 0px  ;
	text-align:center ;
}

.img-circle {
	border-radius: 50%;
}
.btn-blue {
	background-color:#a56f6f ;
	color: white;
	padding: 15px 20px;
	border-radius: 40%;
}
.btn-blue:hover {
	background-color:black ;
	color: white;
}
.list-inline{
	list-style: none;
	padding-left: 0px;
}
.list-inline li {
	display: inline;
	padding: 10px;
}
.list-inline i:hover {
	color: black;
}

/*Design adjustments using id*/

#description p {
	margin-bottom: 40px;
}